@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both; // clear float left et float right
  }
}

@mixin center-horizentaly-verticaly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
// DESKTOP FIRST
/*
0 - 600 px : Phone
600 - 900 px : Tablet portrait
900 - 1200 px : Tablet landscape
1200 - 1800 px : is where our normal style apply
1800 + : Big desktop

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

$breakpoint argument choices : 
- phone
- tab-port
- tab-land
- big-desktop
*/

// ORDER : Base + Typography > general layout + grid > page layout > components

@mixin respond($breakpoint) {

  @if $breakpoint == ridiculous-phone {
    @media (max-width:350px){
      @content;
    }
  }

  @if $breakpoint == small-phone {
    @media (max-width: 450px) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (max-width: 1800px) {
      @content;
    }
  }
}
