*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Pour comprendre l'ordre d'apparence des medias queries
// Il faut savoir que c'est l'ordre dans le code qui permet d'établir
// la gestion des medias queries si plusieurs d'entres-elles peuvent être appliqués

html {
  // par défaut 1 rem = 16px // le calcul = 10px/16px = 62.5%
  // Definit la valeur de 1rem (1rem = 10px)
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200 ?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900 ?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
